<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('User') }}" style = "font-size: 30px;">TuneIn Talk</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav container align-items-center justify-content-between" >
              {% if login %}
                <div class = "container d-block d-lg-flex" >
                   <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('Friends') }}">Friends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('CreateLobby') }}">Create Party</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('JoinLobby') }}">Join Party</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('Logout') }}">Log Out</a>
                    </li>
                </div>

                <div style ="color: white; display: flex;">
                  Username: {{ username }}
                </div>
              {% endif %}
            </ul>
          </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories = true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div>{% block content %}{% endblock %}</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>