{% extends 'base.html' %}

{% block content %}
<div class = "container text-center mt-5" style = "font-weight: 700;">
    <div class="row justify-content-center">
        <h1 style = "font-weight: 700;">Join A Party</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 col-md-8">
            <form style = "margin-top: 30px;" method = "post">
                <label style = "font-weight: 700;
                                font-size: 20px;
                                display: inline-flex;
                                margin-left: -180px;"><strong>Party Room Code:</strong></label>
                <input id = "input" type = "text" name = "user_input_lobby_code">
                <br>
                <div style = "display: flex;
                              justify-content: center;
                              align-items: center;
                              margin-top: 20px;">
                    <input id = "request-friend-btn" type = "submit" value = "Join Room">
                </div>
                
        </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type = "text/javascript">
    var socketio = io();

    socketio.emit("loggedin", {});
</script>

{% endblock %}